/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
body, body *{
  border-radius: 2px;
 }
 .alignleft.actions.bulkactions #ced_reverb_bulk_operation {
  margin: 0;
}.ced_reverb_document {
  position: absolute;
  right: 40px;
}

.ced_reverb_document_link {
  background-color: #f6861e;
  border: 1px solid transparent;
  padding: 9px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
}
.ced_reverb_document_link:hover{
  color: #fff;
  opacity: 0.9;
}

.ced_reverb_prep_data {
  background: #f6861e;
  width: fit-content;
  padding: 6px 10px;
  margin: 10px;
  color: white;
  cursor: pointer;
}
.ced_reverb_top_wrapper #filter_button {
  margin: 0;
}
.ced_reverb_single_product {
  padding: 9px 25px;
  background: #f5861e;
  margin-top: 26px;
  color: white;
}
.search-box #search-submit {
  margin: 0;
}
 .ced-marketplaces-heading-main-wrapper,
 .ced_reverb_wrap.ced_reverb_wrap_extn,
 .ced_reverb_account_configuration_wrapper {
  padding-right: 20px;
 }
 .ced_reverb_parent_element label {
  text-transform: uppercase;
  color: #555555;
}
.ced_reverb_parent_element{
  cursor: pointer;
}
.ced_reverb_child_element{
  display: none;
}

 .ced-marketplaces-heading-wrapper, .ced_reverb_setting_header {
  padding: 8px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
 }
 .ced_reverb_setting_header label
 {
  padding:10px;
 }

 .ced-marketplaces-heading-wrapper h2,
 .ced_reverb_setting_header  h2{
  margin: 0 15px 0 0;
  font-size: 20px;
  line-height: 1.33;
 }
 .ced-marketplaces-card-view-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
 }
 .navigation:after{
  clear: both;
  display: block;
  content: "";
 }
 .ced-marketplace-card {
  width: 30.33%;
  margin-right: 3%;
  margin-top: 30px;
 }
 .ced-marketplace-card a {
  display: block;
  border: 1px solid #dbdbdb;
  text-align: center;
  background-color: #f8f8f8;
  text-decoration: none;
 }
 .ced-marketplace-card .thumbnail {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 20px 0;
 }
 .ced-marketplace-card .mp-label {
  color: #333;
  font-size: 18px;
  padding: 15px 10px;
 }
.ced_reverb_loader {
  display: none;
}
.navigation-wrapper {
  padding: 20px 5px;
  margin: 15px 20px 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 98%;
}
.navigation {
  margin: 0px;
}
.navigation li {
  float: left;
  margin: 0 0 0 5px;
}
.navigation li a {
  color: black;
  display: block;
  padding: 7px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}
.navigation li a:hover,
.navigation li a:focus{
  background-color: #ffffff;
  color: #444444;
}
.navigation li a.active
{
  color: #0073aa;
  border-bottom: 2px solid #0073aa ;
}
.ced_reverb_heading {
  background-color: #fff;
  border: 1px solid #ccd0d4;
  width: 98%;
  margin: 10px 0px;
  padding: 5px;
}
.ced_reverb_cat_mapping_section{
  width: 98%;
}
.ced_reverb_heading h2{
  margin: 0px;
}
.ced_reverb_section_wrapper{
  width: 98% !important;
  margin: 10px 0px 5px 0px;
}
.ced_reverb_section_wrapper table{
  margin-top: 10px;
}
.ced_reverb_section_wrapper table tbody tr td label,
.ced_reverb_section_wrapper table tbody tr th label{
  font-weight: bold;
}
.ced_reverb_section_wrapper table tbody tr td input[type="text"]{
  width: 90%;
}
.ced_reverb_api_key_instruction{
  position: relative;
  top: 10px;
  bottom: 5px;
  display: inline-flex;
}
#ced_reverb_notices{
  width: 98%;
}
#ced_reverb_notices div.notice{
  width: 98%;
  margin: 10px auto;
  padding: 0px 10px;
}
#ced_reverb_update_api_keys,
#ced_reverb_validate_api_keys {
  margin: 5px;
}
.ced_reverb_parent_element{
  cursor: pointer;
}
.ced_reverb_child_element{
  display: none;
}
.dashicons-arrow-up-alt2::before{
  content: "\f142";
}
.dashicons-arrow-down-alt2::before{
  content: "\f140";
}
@media only screen and (max-width: 768px){
  .ced_reverb_section_wrapper table tbody tr td input[type="text"]{
   width: 100%;
 }
}
.ced_reverb_global_field_wrapper{
  width: 98%;
  padding: 0px 0px;
}
.ced_reverb_global_field_header ul {
  display: flex;
}
.ced_reverb_global_field_header ul li a{
  display: block;
  text-decoration: none;
  font-weight: 600;
  margin: 0px 10px 0px 0px;
}
.ced_reverb_global_field_header ul li a.active{
  color: black
}
.ced_reverb_global_sub_wrap {
  width: 98%;
}
.ced_reverb_global_sub_wrap,
.ced_reverb_global_tab_list_wrap {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.ced_reverb_global_tab_list_content table tbody th {
  text-align: center;
  background-color: #0073aa;
  color: #fff;
  padding: 5px;
  dominant-baseline: ;
  display: inline-block;
  margin: 10px;
  border-right: 1px solid #ccc;
}
.ced_reverb_global_tab_list_content label {
  font-weight: bold;
}
.ced_reverb_global_tab_list_content label span {
  color: red;
}
.ced_reverb_custom_button {
  margin: 5px auto !important;
}
.ced_reverb_global_tab_list_wrap {
  display: flex;
  padding: 0px;
}
div.ced_reverb_global_tab_list_content {
  color: #555559;
  margin: 5px;
}
div.ced_tab_labels {
  border-right: 1px solid #ccc;
}
div.ced_reverb_global_tab_list {
  border: 1px solid #cccccc;
  padding: 5px;
  font-weight: bold;
margin: 10px;
  background-color: #eeeeee;
  color: #555555;
  cursor: pointer;
}
div.ced_tab_labels {
  width: 20%;
  min-height: 300px;
}
div.ced_tab_content {
  width: 80%;
}
.ced_reverb_global_tab_list_content div.active {
  background-color: #0073aa;
  color: #fff;
}
.ced_reverb_global_tab_list_content table {
  border: none;
}
#key_features table tbody td input {
  margin-bottom: 20px;
}
.ced_reverb_categories{
  display: none;
}
.ced_reverb_parent_element label {
  text-transform: uppercase;
  color: #555555;
}
.ced_reverb_profile_details_fields {
  overflow-y: auto;
}
.ced_reverb_profile_details_fields table {
  width: 100%;
  background-color: #ffffff;
  margin: 15px auto;
  table-layout: fixed;
}
.ced_reverb_profile_details_fields table td,
.ced_reverb_profile_details_fields table th {
  padding: 10px;
}
.ced_reverb_profile_heading {
  text-align: left;
  background-color: #0073aa;
  color: #fff;
  display: inline-block;
  margin: 10px;
}
.ced_reverb_profile_details_fields table td input[type="text"],
.ced_reverb_profile_details_fields table td select {
  padding: 5px;
  border: 1px solid #ddd;
  height: auto;
  width: 90%;
}
.ced_reverb_profile_details_fields table td input[type="text"] {
  padding: 0px 0px 0px 5px;
}
.ced_reverb_wal_required {
  color: #fb0606;
}
.ced_reverb_profile_details_fields table td label {
  font-weight: bold;
}
.ced_reverb_profile_details_wrapper {
  padding-right: 20px;
}
.ced_reverb_settings_heading {
  text-align: left;
  background-color: #0073aa;
  color: #fff !important;
  display: inline-block;
  margin: 10px;
}
.ced_reverb_profile_details_fields table.wp-list-table tbody tr td:first-child{
  display: none;
}
.Required {
  color: red;
}
.Optional {
  color: skyblue;
}
.Recommended {
  color: green;
}
.ConditionallyRequired {
  color: orange;
}
.ced_reverb_preview_product_popup_main_wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(-100%);
  visibility: hidden;
  transition: 0.3s linear all;
  color: #666666;

}
.ced_reverb_preview_product_popup_main_wrapper.show {
  transform: translateY(0);
  visibility: visible;
  transition: 0.3s linear all;
}

.ced_reverb_add_account_popup_content {
  max-width: 700px;
  text-align: center;
  background-color: #fff;
  overflow: scroll;
  width: 100%;
  height: 600px;
  padding: 5px;
  border-radius: 4px;
}
.ced_reverb_loader {
  position: absolute;
  background: rgba(0, 0, 0, 0.52);
  width: 100%;
  z-index: 9999;
  height: 108%;
}
.ced_reverb_loader img {
  text-align: center;
  margin: 0 auto;
  width: 50px;
  display: block;
  margin-top: 25%;
}

.ced_reverb_loader {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/***********Product Preview CSS************************/

.pro-sreverb-img-list {
	list-style: none;
}
.pro-large-img img {
	width: 100%;
}
.image-variable-item img {
	width: 100px;
	height: 100px;
}
.pro-desc h2 {
	font-weight: 400;
	font-size: 28px;
	margin-bottom: 0;
}
.pro-desc p {
	font-size: 12px;
	margin-bottom: 0;
}
.pro-star i {
	color: black;
	font-size: 12px;
}
.pro-star span {
	margin-left: 15px;
	font-size: 14px;
}
p.pro-price {
	font-size: 22px;
}
p.qty-drpdwn {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.qty-drpdwn select {
  border: 1px solid;
  /* border-bottom: 2px solid; */
  margin-left: 20px;
}
.add-to-cart-btn button {
	background-color: #0065ff;
	border: none;
	color: white;
	padding: 10px 25px;
	border-radius: 100px;
}
.pro-desc-detail h2 {
	font-size: 26px;
	padding-bottom: 20px;
	font-weight: 400;
}
.pro-desc-detail p {
	font-size: 14px;
}
.pro-info-wrapper h2 {
	font-size: 20px;
	font-weight: 400;
}
td.table-desc-title {
	padding: 15px 0px 15px 10px;
	font-size: 14px;
	width: 30%;
}
td.table-desc-content {
	font-size: 14px;
	padding-left: 10px;
}
.pro-spec-table tbody tr:nth-child(odd) {
	background-color: rgba(148,148,153,.1);
}
.pro-tags p {
	display: inline-block;
	margin-right: 10px;
}
.add-ons h2 {
	display: inline-block;
	margin-right: 20px;
}
.add-ons p {
	display: inline-block;
	margin-right: 20px;
}
.pro-add-to-cart .add-to-cart-btn, .pro-quantity {
	display: inline-block !important;
}
.pro-add-ons {
	margin: 15px 0;
	border: 1px solid #ccc;
}
.add-ons {
	border-left: 4px solid rgb(25, 161, 196);
	padding: 11px 15px 0 15px;
}
.add-ons h2 {
	font-size: 18px;
	font-weight: 700;
}
p.add-on-view-option {
	text-decoration: underline;
}
.add-on-services {
	border-left: 4px solid rgb(25, 161, 196);
	padding: 0 15px;
}
.pro-add-to-cart {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.free-delivery {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
}
.delivery-title i {
	font-size: 12px;
	padding-right: 5px;
}
.delivery-title h2 {
	display: inline-block;
	font-size: 16px;
}
.more-delivery-option {
	border-bottom: 1px solid #ccc;
}
.more-delivery-option p {
	padding: 15px 0 8px 0;
	margin-bottom: 0px;
	font-size: 14px;
	text-decoration: underline;
}
.ship-return {
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.sold-shipped {
	display: inline-block;
	border-right: 1px solid #ccc;
	padding-right: 20px;
}
.sold-shipped i {
	font-size: 12px;
	padding-right: 10px;
}
.return-policy {
	display: inline-block;
	padding-left: 20px;
}
.return-policy i {
	padding-right: 10px;
}
.add-on-services p {
	display: inline-block;
}
p.protection-plans {
	border-right: 1px solid #ccc;
	padding-right: 15px;
}
p.expert-help {
	padding-left: 10px;
}

@media only screen and (max-width: 991px){
	.pro-img {
		display: none;
	}
}

/***********Product Preview CSS ends****************/

.product-title {
  font-size: 15px;
}
.reverb-cool , .UseForVariation{
   color: #0073aa !important;
}
.reverb-success , .PUBLISHED{
  color: #7ad03a !important;
}
.reverb-error , .UNPUBLISHED{
  color: #a44 !important;
}
.reverb-warning,.SYSTEM_PROBLEM {
  color:#fc7b03 !important;
}
.ced_reverb_profile_table {
  margin-bottom: 0px !important;
}
.ced_reverb_profile_table input[type="number"] {
  width: 90% !important;
  border: 1px solid #ccc !important;
}
.div_foot {
  padding: 10px;
  border : 1px solid #ccc;
  border-top: none;
}
.ced_reverb_child_element table {
  margin-top: 15px;
}
.ced_reverb_wrapper {
  display: flex;
  align-items: center;
}
.ced-reverb-global-wrap-wrapper h2 {
  font-size: 21px;
  margin-bottom: 15px;
}
.ced-reverb-discription-wrap {
  padding: 0 29px !important;
}
#ced_reverb_search_product_name {
  width: 60%;
}
.ced-reverb-search-product-list {
  position: absolute;
  width: 37%;
  display: none;
  max-height: 200px;
  overflow: scroll;
  margin: 0px;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width :none;
  border : 1px solid #ccc;
}
.ced-reverb-search-product-list li {
  padding: 5px;
  margin: 0px;
  color: #000000;
  cursor: pointer;
}
.ced-reverb-search-product-list li:nth-child(odd) {
  background-color: #ccc;
}
.ced-reverb-search-product-list li:nth-child(even) {
  background-color: #fff;
}
.ced_reverb_error_data {
  position: absolute;
  right: 150px;
  background: #eee;
  padding: 10px;
  max-height: 150px;
  max-width: 350px;
  overflow: scroll;
	overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 5px;
  display: none;
  border: 1px solid;
}
#reverb_inventory_options_variable,
.reverb_inventory_options_simple {
  width: 100% !important;

}
.ced_reverb_variation_product_level_wrap {
  border: 1px solid #7e8993;
  width: 95%;
  padding: 15px;
  border-radius: 5px;
}
.ced_reverb_variation_product_level_wrap h2 ,
.ced_reverb_simple_product_level_wrap h2 {
border: 1px solid #7e8993;
  border-radius: 5px;
}
#return-adress span.select2 {
  width: 90% !important;
}
.ced_reverb_variation_product_content ,
.ced_reverb_simple_product_content {
	max-height: 350px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: scroll;
  border-radius: 5px;
}
.ced_reverb_simple_product_level_wrap {
  padding: 15px;
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.ced_reverb_error_data ul {
  list-style: symbols !important;
  margin-left: 15px !important;
}
  .ced_reverb_product_error {
	cursor: pointer;
  }

.ced_reverb_pagination span,
.ced_reverb_pagination button{
  margin-right: 5px !important;
}
td.ced_reverb_category_selection_list span.select2 {
  width: 100% !important;
}
td#ced_reverb_environment_select span.select2 {
  width: 90% !important;
}
div.ced_tab_content tr span.select2 {
  width: 95% !important;
}
div#ced_reverb_per_page span.select2 {
  margin-top: 5px;
  width: 17% !important;
}
div.ced_reverb_top_wrapper span.select2 {
  margin:0px 5px 0px 0px !important;
}
div.ced_reverb_child_element ul {
  list-style: symbols;
  margin-left: 10px;
}
ul.ced-reverb-search-product-list {
  margin-left: 0px !important;
  list-style: none;
}
#ced_reverb_general_profile_details {
  border: 1px solid #ccd0d4;
}
.ced_reverb_product_error {
  margin: 15px 0px 0px 20px;
}
.ced_reverb_schedule_wrap tbody td.heading {
  background-color: #eeeeee;
}
.ced_reverb_schedule_wrap tbody h4 {
  margin: 0;
}

.wp-list-table.fixed.widefat.ced_reverb_schedule_wrap {
  border: none !important;
}
.wp-list-table.ced_reverb_global_settings {
  width: 100%;
  margin: 0px 0px 10px 10px;
}

.wp-list-table.ced_reverb_global_settings tbody tr td label,
.ced_reverb_child_element table tbody tr td label,
.ced_reverb_child_element table tbody tr th label{
  /*font-weight: lighter;*/
  font-size: 14px;
}
table.ced_reverb_schedule_wrap,.ced_reverb_config_table {
  border: none !important;
}
.wp-list-table.ced_reverb_global_settings tbody tr td {
  padding: 5px 10px 5px 0px;
  min-width: 30%;
}
select.ced_reverb_product_select {
  width: 50% !important;
}

.ced_reverb_schedule_wrap tbody tr td select {
  width: 95%;
}

.ced_reverb_variation_product_level_wrap {
  border: 1px solid #7e8993;
  width: 97%;
  padding: 15px;
  border-radius: 5px;
}
.ced_reverb_variation_product_level_wrap h2 ,
.ced_reverb_simple_product_level_wrap h2 {
  border: 1px solid #7e8993;
  border-radius: 5px;
}
#return-adress span.select2 {
  width: 90% !important;
}
.ced_reverb_variation_product_content ,
.ced_reverb_simple_product_content {
  max-height: 350px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: scroll;
  border-radius: 5px;
}
.ced_reverb_simple_product_level_wrap {
  padding: 15px;
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
#reverb_inventory_options_variable {
  width: 100% !important;
  min-height: unset !important;
}

.ced_reverb_display_product_specific.ced_reverb_simple_product_content select {
  width: 50% !important;
}
.ced_reverb_simple_product_content p label,
.ced_reverb_variation_product_content p label {
  min-width: 40%;
  max-width: 40%;
}
.ced_reverb_simple_product_content p label,.ced_reverb_variation_product_content p label {
  width: unset !important;
}
.navigation li:first-child{
  margin: 0 0 0 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.ced_reverb_admin_notice_wrap {
  width: 93%;
  margin: 10px 0px;
}

.ced_reverb_child_element ul {
  margin: 5px 10px !important;
  padding: 0px 8px !important;
  list-style-type: disc !important;
}
.productsimporter_wrap {
  width: 98%;
}
.wp-list-table.ced_reverb_global_settings tbody tr td {
  padding: 5px 10px 5px 0px;
  min-width: 30%;
}
.wp-list-table.ced_reverb_global_settings tbody tr td select {
  width: 100%;
}

.ced_menu_content, .ced_menu_button {
background: slateblue;
border-radius: 100%;
border: 1px solid #ccc;
width: 60px;
height: 60px;
margin-left: -40px;
position: absolute;
color: #FFFFFF;
text-align: center;
line-height: 60px;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-transition: -webkit-transform ease-out 200ms;
transition: -webkit-transform ease-out 200ms;
transition: transform ease-out 200ms;
transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
cursor: pointer !important;
}
 .dashicons.ced_reverb_instruction_icon.dashicons-arrow-down-alt2,
  .dashicons.ced_reverb_instruction_icon.dashicons-arrow-up-alt2 {
  position: relative;
  float: right;
  right: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px gray;
  }

  .navigation-wrapper,
  .cedcommerce-top-border{
box-shadow: 0 8px 16px 0 rgba(85,93,102,.3);
  border-top-color: #46b450;
  }
.ced_reverb_parent_element h2 {
  padding: 8px 5px;
}

.ced_reverb_parent_element label {
  text-transform: uppercase;
  color: currentColor;
  font-size: 14px;
}
  .ced-button-wrapper {
  margin-top: 20px;
  }


.button-33, .button-34 {
  background-color: #c2fbd7;
  border-radius: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover, .button-34:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.ced_reverb_add_account_popup_content {
  max-width: 800px;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  max-height: 750px;
  height: fit-content;
  clear: both;
  font-size: 15px;
}

.ced_reverb_add_account_popup_content .ced_reverb_add_account_popup_body {
  text-align: left;
  padding: 50px 30px;
  margin-left: 28px;
  line-height: 27px;
}
.ced_reverb_add_account_popup_content select {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.ced_reverb_add_account_popup_header {
  background-color: #f6861e;
  padding: 15px;
  position: relative;
  color: white;
}

.ced_reverb_add_account_popup_header h5 {
  margin: 0;
  font-size: 22px;
}

.ced_reverb_add_account_popup_header {
  text-align: center;
  position: fixed;
  max-width: 770px;
  width: 100%;
}

.ced_reverb_add_account_popup_body select {
  text-align: left;
  width: 50%;
  margin-bottom: 30px;
  height: 38px;
}

.ced_reverb_add_account_popup_main_wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(-100%);
  visibility: hidden;
  transition: 0.3s linear all;
  height: 100%;
  overflow-y: auto;
}
.ced_reverb_add_account_popup_main_wrapper.show {
  transform: translateY(0);
  visibility: visible;
  transition: 0.3s linear all;
  width: 100%;
}

.ced_reverb_add_account_popup_close {
  position: absolute;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.ced_reverb_add_account_popup_close{
   top: 2px;
   right: 15px;
 }
